<h1>
  Add a new vaccination
</h1>


<hr>

<form action="/create_vaccination" method="post">

  <div class="form-group">
    <label for="earrring_id">
      Earrring
    </label>

    <input type="text" id="earrring_id" name="earrring_id" class="form-control">
  </div>

  <div class="form-group">
    <label for="vaccine_type">
      Vaccine type
    </label>

    <input type="text" id="vaccine_type" name="vaccine_type" class="form-control">
  </div>

  <div class="form-group">
    <label for="cattle_id">
      Cattle
    </label>

    <%= select_tag(:cattle_id, options_from_collection_for_select(CattleCatalog.all, :id, :earring_id, @vaccination.cattle_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create vaccination
  </button>
</form>

<hr>

<a href="/vaccinations">
  Go back
</a>
