<h1>
  Add a new temp weaning
</h1>


<hr>

<form action="/create_temp_weaning" method="post">

  <div class="form-group">
    <label for="earring_id">
      Earring
    </label>

    <input type="text" id="earring_id" name="earring_id" class="form-control">
  </div>

  <div class="form-group">
    <label for="first_weight">
      First weight
    </label>

    <input type="text" id="first_weight" name="first_weight" class="form-control">
  </div>

  <div class="form-group">
    <label for="estimated_price_per_kilo">
      Estimated price per kilo
    </label>

    <input type="text" id="estimated_price_per_kilo" name="estimated_price_per_kilo" class="form-control">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create temp weaning
  </button>
</form>

<hr>

<a href="/temp_weanings">
  Go back
</a>
