<form action="/create_vaccination_from_cattle_catalog" method="post">

  <div class="form-group">
    <label for="earrring_id">
      Earrring
    </label>

    <input type="text" id="earrring_id" name="earrring_id" class="form-control" value="<%= @vaccination.earrring_id %>">
  </div>

  <div class="form-group">
    <label for="vaccine_type">
      Vaccine type
    </label>

    <input type="text" id="vaccine_type" name="vaccine_type" class="form-control" value="<%= @vaccination.vaccine_type %>">
  </div>

  <input type="hidden" name="cattle_id" value="<%= @cattle_catalog.id %>">

  <button class="btn btn-block btn-outline-secondary">
    Create vaccination
  </button>
</form>
